/* @font-face {
  font-family: DINProLight;
  src: url("../fonts/dinpro-light.otf") format("opentype");
}

@font-face {
  font-family: DINProRegular;
  src: url("../fonts/dinpro-regular.otf") format("opentype");
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #373737;
  letter-spacing: 0.08rem;
  margin-top: 0;
}

a, p, span, div {
  font-family: Roboto;
}

.margin-t {
  margin-top: 13px;
}

.margin-b {
  margin-bottom: 13px;
}

.margin-l {
  margin-left: 13px;
}

.margin-tb {
  margin-top: 13px;
  margin-bottom: 13px;
}

.margin-lr {
  margin-left: 13px;
  margin-right: 13px;
}

.padding-l {
  padding-left: 13px;
}

.padding-lr {
  padding-left: 13px;
  padding-right: 13px;
}

.padding-tb {
  padding-top: 13px;
  padding-bottom: 13px;
}

.margin-b-zero {
  margin-bottom: 0 !important;
}

/* --------------------------------------- */



.skills-wrapper .fi-star {
  padding: 0 2px;
  color: #ffbf00
}

.skills-wrapper .fi-star.light {
  padding: 0 2px;
  color: #ddd
}

.skills-wrapper .skill-row {
  margin: 0
}

.skills-wrapper .skill-row:hover {
  background: #eee
}

.contacts__list-item {
  margin-bottom: 10px
}

.menu-wrapper {
  width: 310px;
  margin: 0 auto;
}

.menu > li > a {
  font-family: "Roboto";
  text-transform: uppercase;
}

footer {
  padding-top: 70px;
  padding-bottom: 70px
}

header {
  background-image: url(/img/bklyn-section-2.jpg);
  background-size: cover;
}

.wellcome-wrapper h1 {
  margin: 0 auto 20px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  width: 500px;
}

.wellcome-wrapper h5 {
  color: #fff
}

.header-container {
  padding-top: 80px;
  padding-bottom: 50px;
  background-image: url(/img/overlay-pattern3.png);
  background-color: rgba(44,62,80 , 0.2 ) !important;
  background-repeat: repeat;
  box-sizing: border-box;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

section .h-header {
  margin-bottom: 20px;
}

section .h-header .text {
  display: inline-block;
  border: 6px solid;
  padding: 0.1em 0.2em;
  text-transform: uppercase;
}

#projects .project-item h5 a {
  text-transform: uppercase;
}

#projects .project-item {
  margin-bottom: 40px;
}

#contacts a {
  color: #0a0a0a;
}

@media screen and (max-width: 500px) {
  .wellcome-wrapper h1 {
    font-size: 50px;
    width: auto;
  }
}