<div id="contacts">

    <h2 class="h-header text-center">
        <span class="text">Contacts</span>
    </h2>

    <br>

    <ul class="no-bullet">
        <li class="row margin-b">
            <b class="medium-5 columns">Email:</b>
            <span class="medium-27 columns">
                <a href="mailto:serjkrasilnikov@gmail.com">serjkrasilnikov@gmail.com</a>
            </span>
        </li>
        <li class="row margin-b">
            <b class="medium-5 columns">Skype:</b>
            <span class="medium-27 columns">
                <a href="skype:skrasilnikoff?call">skrasilnikoff</a>
            </span>
        </li>
        <li class="row margin-b">
            <b class="medium-5 columns">LinkedIn:</b>
            <span class="medium-27 columns"><a href="https://www.linkedin.com/in/sergey-krasilnikov-26745b9a/">https://www.linkedin.com/in/sergey-krasilnikov-26745b9a/</a></span>
        </li>
        <li class="row margin-b">
            <b class="medium-5 columns">hh.ua resume:</b>
            <span class="medium-27 columns"><a href="https://hh.ua/resume/3ba150d7ff01fbdbfe0039ed1f394b45303154">link to resume</a></span>
        </li>

    </ul>

</d>