<div id="contacts">

    <h2 class="text-center">Contacts</h2>

    <br>

    <ul class="no-bullet">
        <li class="row margin-b">
            <b class="medium-4 columns">Email:</b>
            <span class="medium-28 columns">serjkrasilnikov@gmail.com</span>
        </li>
        <li class="row margin-b">
            <b class="medium-4 columns">Skype:</b>
            <span class="medium-28 columns">skrasilnikoff</span>
        </li>
        <li class="row margin-b">
            <b class="medium-4 columns">LinkedIn:</b>
            <span class="medium-28 columns"><a href="https://www.linkedin.com/in/sergey-krasilnikov-26745b9a/">https://www.linkedin.com/in/sergey-krasilnikov-26745b9a/</a></span>
        </li>

    </ul>

</div>